body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
  color: #333;
}

button {
  background: #0D47A1;
  border: 0;
  padding: 10px 20px;
  color: #fff;
}

img {
  max-width: 100%;
}

/* logo */
header{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 16px;
  align-items: center;
  margin: 0 16px;
}

.logo{
  margin: 16px 0;
}

/* navigation */
.menu ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px,1fr));
  grid-gap: 8px;
  padding: 0;
  margin: 16px 0;
  list-style: none;
}

.menu a{
  display: block;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: #272727;
}

.menu a.active,
.menu a:hover{
  background:#0D47A1;
  color: #fff;
}

/*responsive button */
[aria-controls="menu-list"]{
  display: none;
}

/* creates grid for top section */
.top{
  display: grid;
  grid-template-areas: "hero hero hero2";
  grid-gap: 16px;
}

/* styling for hero image */
.hero{
  display: flex;
  min-height: 400px;
  padding: 64px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: url(../images/hero.jpg) bottom right;
  background-size: cover;

}

/* hero image overlay text */
.hero *{
  padding: 16px;
  background: #0D47A1;
  color: #fff;
}

.hero h2{
  font-weight: 100;
}

/* styling for hero 2 */
.hero2{
  grid-area: hero2;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  background: #0D47A1;
  color: #fff;
  padding: 0 4vw 0 1vw;
}

.hero2 li{
  font-size: 2em;
  list-style: none;
  border-bottom: 1px solid #fff;
  line-height: 2;
}

/* Main Container */
.wrapper{
  display: grid;
  grid-gap: 16px;
  width: 70%;
  margin: 0 auto;
}

/* features */
.features{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 16px;
  margin: 5vh 0;
}

.feature{
  padding: 8px;
  background: #0D47A1;
  border: 1px solid #1976D2;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
}

/* gallery header */
.features-header{
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 16px;
  margin-top: 2em;
  align-items: center;
}

.features-header:before, .features-header:after{
  display: block;
  content: '';
  height: 16px;
  background: linear-gradient(to left, #0D47A1, transparent);
}


.features-header:after{
  background: linear-gradient(to right, #0D47A1, transparent);
}

/* main content */
.post{
  display: grid;
  margin: 100px auto;
  grid-gap: 10px 50px;
  grid-template-columns: 3fr 12fr 5fr;
}

.post * {
  grid-column: 1 / -1;
}

.post > figure{
  margin: 0;
  grid-column: 2/-2;
}

figcaption{
  font-size: 10px;
}

.post>blockquote{
  grid-column: 1 / -1;
  font-size: 42px;
  text-align: center;
  margin: 0;
}

.post>blockquote .author{
  text-align: right;
}

.post p {
  line-height: 1.8;
}

.post img {
  max-width: 100%;
}

.post a {
  color: black;
  text-decoration: underline #0D47A1;
}

.post h1,
.post h2{
  grid-column: 1 / -1;
  margin: 0;
  font-size: 80px;
  font-weight: 100;
  text-align: center;
}

.post ol{
  grid-column: 2/-2;
}

.post li{
  list-style: none;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
}

.cloud-types{
  grid-column: 1/-1;
  font-size: 28px;
  font-weight: 100;
}

.cloud-types-definition{
  grid-column: 4 / 2;
  margin: 0;
}

/* footer */
footer{
  text-align: center;
}

footer h1{
  margin-bottom: 0;
}

footer p{
  margin: 0;
}

footer ul{
  padding-left: 0;
}

footer li{
  line-height: 1.8;
  list-style-type: none;
}

footer a{
  color: #333;
}

/* inner page styling */
.inner-page-header{
  background: url("../images/inner-page-header.jpg") center center;
  background-size: cover;
  padding: 5vh;
}

.inner-page-header h1{
  color: #fff;
  text-shadow: 2px 2px #333;
  font-size: 3em;
}

/* tablet */
@media (max-width: 769px) {
    /* move nav to top */
    .menu{
      order: 0;
    }

    /* rearrange header content*/
    .top{
      grid-template-areas:
        "hero"
        "hero2";
    }
}

/* mobile */
@media (max-width: 576px) {

    nav.menu{
      display: grid;
      justify-items: center;
      align-items: end;
      margin-top: 2em;
    }

    /*responsive button */
    [aria-controls="menu-list"]{
      display: block;
    }

    /* responsive nav */
    .menu ul{
      max-height: 0;
      transform: rotateX(90deg);
      transition: all 0.5s;
    }

    [aria-expanded="true"] ~ ul {
      display: grid;
      max-height: 500px;
      transform: rotateX(0);
    }

    /* menu icon */
    [aria-expanded="false"] .close {
      display: none;
    }

    [aria-expanded="true"] .close {
      display: inline-block;
    }

    [aria-expanded="true"] .open {
      display: none;
    }

    /* rearrange header content*/
    .top{
      grid-template-areas:
        "hero"
        "hero2";
    }

    /* main post title */
    .post h2{
      font-size: 40px;
    }

    /* post list */
    .post ol{
      grid-column: 1 / -1;
      padding: 0;
    }

    .post li{
      margin: 1em 0;
    }

    /* image size */
    .post > figure {
      margin: 0;
      grid-column: 1/-1;
    }

}
