body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

/* Main Container */
.wrapper{
  display: grid;
  grid-gap: 16px;
}

/* logo */
header{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 16px;
}

.logo{
  margin: 16px;
}

/* navigation */
.menu ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px,1fr));
  grid-gap: 8px;
  padding: 0;
  margin: 16px 0;
  list-style: none;
}

.menu a{
  display: block;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #272727;
  background: #ffc600;
}

/*responsive button */
[aria-controls="menu-list"]{
  display: none;
}

/* creates grid for top section */
.top{
  display: grid;
  grid-template-areas:
    "hero hero cta1"
    "hero hero cta2";
  grid-gap: 16px;
}

/* styling for hero image */
.hero{
  display: flex;
  grid-area: hero;
  min-height: 400px;
  padding: 64px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: url(../images/taco.jpg) bottom right;
  background-size: cover;

}

/* hero image overlay text */
.hero *{
  background: #ffc600;
  padding: 16px;
}

/* styling for ctas */
.cta1{
  grid-area: cta1;
}

.cta2{
  grid-area: cta2;
}

.cta{
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  background: #ffc600;
}

.cta p{
  margin: 0;
}

.price{
  font-size: 64px;
  font-weight: 100;
}

/* features */
.features{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 16px;
}

.feature{
  padding: 8px;
  background: #ffc600;
  border: 1px solid #ffc600;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.feature .icon{
  font-size: 50px;
}

/* about section */
.about{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding:50px;
  background: #fff;
}

/* gallery */
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
}

.gallery img{
  width: 100%;
}

/* gallery header */
.gallery h2{
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 16px;
  align-items: center;
}

.gallery h2:before, .gallery h2:after{
  display: block;
  content: '';
  height: 16px;
  background: linear-gradient(to left, #ffc600, transparent);
}


.gallery h2:after{
  background: linear-gradient(to right, #ffc600, transparent);
}

/* tablet */
@media (max-width: 769px) {
    /* move nav to top */
    .menu{
      order: -1;
    }

    /* rearrange header content*/
    .top{
      grid-template-areas:
        "hero hero"
        "cta1 cta2";
    }
}

/* mobile */
@media (max-width: 576px) {
    /*responsive button */
    [aria-controls="menu-list"]{
      display: block;
      margin-bottom: 10px;
    }

    /* responsive nav */
    .menu ul{
      max-height: 0;
      transform: rotateX(90deg);
      transition: all 0.5s;
    }

    [aria-expanded="true"] ~ ul {
      display: grid;
      max-height: 500px;
      transform: rotateX(0);
    }

    /* menu icon */
    [aria-expanded="false"] .close {
      display: none;
    }

    [aria-expanded="true"] .close {
      display: inline-block;
    }

    [aria-expanded="true"] .open {
      display: none;
    }

    /* rearrange header content*/
    .top{
      grid-template-areas:
        "hero"
        "cta1"
        "cta2";
    }

    .about{
      grid-template-columns: 1fr;
    }
}
